{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Titre de l'article {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/symblog.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container view my-3">
        <h2 class="my-0">Titre de l'article</h2>
        <div class="metadata">le 10/05/2018 à 19:00 catégorie Politique</div>
        <img src="http://lorempixel.com/1280/800/animals/" class="img-fluid mb-3" alt="">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis quae quisquam quos!
                Corporis quisquam repellendus tempora? Accusantium debitis, dolore dolores impedit iste iusto maxime,
                mollitia nam nulla officiis quae, repellendus reprehenderit soluta. Aperiam assumenda dolorem doloremque
                error illo nisi pariatur quas quis, rem sed totam voluptas! Ab accusantium adipisci animi, assumenda
                blanditiis consectetur debitis doloremque dolores ducimus esse ex exercitationem ipsam maxime, numquam
                quas qui reprehenderit voluptates? Consectetur dignissimos et modi nulla numquam optio quae quas quasi
                quisquam ratione.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, assumenda, at commodi consectetur,
                cumque delectus dolorem doloribus eligendi eum fuga fugiat harum illum ipsa itaque iure iusto labore
                nisi nobis possimus quaerat quam quas qui quisquam repudiandae rerum sed sequi ut vel voluptate
                voluptatibus. Accusantium, ad autem dolores eaque facere facilis illum in ipsa ipsum nobis, placeat
                provident sequi suscipit totam ullam. Ad, dicta doloribus eligendi excepturi facere fuga hic in iusto
                minima molestiae neque nesciunt non odio perferendis quidem recusandae reiciendis rerum, soluta sunt
                voluptate. Aspernatur cum dolore excepturi exercitationem, ipsum iste nam odit suscipit? Beatae, dicta
                ducimus expedita maxime non nostrum praesentium qui reiciendis, repellat sapiente sit, ut voluptas! Ad
                beatae culpa eum ipsam quam quis rerum sequi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum officiis omnis optio perferendis quae
                quis tempore? Doloribus esse expedita facere incidunt quaerat rerum, sapiente. Accusantium aliquid
                aperiam architecto asperiores aspernatur beatae consequatur consequuntur corporis delectus, deleniti
                dolor dolorum ducimus eaque eligendi est eveniet ipsa iure laborum magnam maiores neque nisi non
                obcaecati odit pariatur perferendis possimus quae quibusdam quidem reiciendis rem rerum sapiente sed sit
                suscipit tempore voluptatem. Ad architecto, eaque eligendi illum itaque maiores pariatur praesentium qui
                vel voluptates.</p>
        </div>
    </div>
    <div class="container comments my-3">
        <h4>8 commentaires ...</h4>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/city/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, atque beatae
                    distinctio
                    exercitationem expedita fugit harum, incidunt ipsum libero odit quis rerum sapiente voluptates?
                </div>
            </div>
        </div>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/animals/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam asperiores assumenda
                    consequatur
                    corporis cupiditate deleniti est fugiat incidunt labore natus, neque pariatur repellat sapiente
                    tempora
                    veniam voluptas. Aspernatur deserunt dolore et ipsa iure maxime obcaecati odit officiis sed tempore.
                </div>
            </div>
        </div>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/sports/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, molestiae molestias neque
                    repudiandae sunt tempore!
                </div>
            </div>
        </div>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/fashion/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta dolorem ducimus eligendi
                    eos
                    facere ipsum iure laudantium maxime minima nam neque optio possimus, quo quod sed sit soluta sunt
                    tempore ullam veniam voluptas voluptate.
                </div>
            </div>
        </div>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/cats/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae consequuntur cum
                    deleniti
                    dignissimos dolore ea eaque eius excepturi expedita facilis hic in ipsam itaque minus nam nemo neque
                    nulla numquam obcaecati odio officia, porro sequi vel velit! Esse, maiores!
                </div>
            </div>
        </div>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/transport/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, libero.
                </div>
            </div>
        </div>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/nature/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque beatae culpa cupiditate
                    delectus doloribus dolorum eaque et ex excepturi hic incidunt inventore itaque, minima numquam odit
                    optio quaerat qui quisquam reprehenderit saepe sequi soluta tenetur ut velit vero voluptatem.
                </div>
            </div>
        </div>
        <div class="bg-light rounded m-3 p-3">
            <div class="row">
                <div class="col-avatar">
                    <img src="http://lorempixel.com/80/80/people/" class="img-fluid rounded mt-1" alt="">
                </div>
                <div class="col-md">
                    <h5>Lorem ipsum le 10/05/2018 à 19:30</h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae debitis dolorum esse laborum
                    ut!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}
